.my-pagination ::ng-deep .ngx-pagination .current {
  background: #dd6b20;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
