<section class="bg-white py-16 border border-gray-400">
  <div class="container w-[90%] mx-auto">
    <h2 class="text-5xl text-orange-500 text-center">Category List</h2>

    <div
      class="parent mt-10 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      @for (category of categoriesList ;track category._id) {

      <div
        class="card cursor-pointer"
        [routerLink]="['/specific-category', category.slug, category._id ]"
      >
        <div>
          <img
            [src]="category.image"
            class="w-full rounded-t h-[300px] mb-2"
            [alt]="category.name"
          />
          <h3
            class="text-sm text-orange-600 font-medium mt-2 bg-orange-100 inline px-1 rounded"
          >
            {{ category.name }}
          </h3>
          <h4 class="text-lg py-2 font-bold line-clamp-1">
            {{ category.name | term : 20 }}
          </h4>
        </div>
      </div>

      }
    </div>
  </div>
</section>
