<section
  class="bg-gray-100 border border-gray-200 p-4 shadow-md md:w-1/2 m-auto my-14 rounded-lg"
>
  <h1 class="text-center mb-3 font-light text-3xl">REGISTER NOW</h1>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <app-input
      [control]="registerForm.get('name')"
      [typeInput]="'text'"
      [idInput]="'name'"
      [labelInput]="'NAME'"
    ></app-input>

    <app-input
      [control]="registerForm.get('email')"
      [typeInput]="'email'"
      [idInput]="'email'"
      [labelInput]="'E-MAIL'"
    ></app-input>

    <app-input
      [control]="registerForm.get('password')"
      [idInput]="'password'"
      [labelInput]="'PASSWORD'"
    >
      Custom field should match the patterns
    </app-input>

    <app-input
      [control]="registerForm.get('rePassword')"
      [idInput]="'rePassword'"
      [labelInput]="'RE-PASSWORD'"
    ></app-input>

    <app-input
      [control]="registerForm.get('phone')"
      [typeInput]="'tel'"
      [idInput]="'phone'"
      [labelInput]="'PHONE'"
    >
      accept only egypt phone numbers
    </app-input>

    <button class="btn-main ms-[600px]" type="submit">
      REGISTER @if (isLoading) {
      <span><i class="fas fa-spinner animate-spin"></i></span>
      }
    </button>

    @if (msgError) {
    <p
      class="text-center text-red-700 mt-4 p-4 bg-red-200 rounded-xl shadow-xl"
    >
      {{ msgError }}
    </p>
    }
  </form>
</section>
